<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {% if user.is_authenticated %}
        <!-- other pages -->
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/profile">Profil</a>
          <a class="nav-item nav-link" href="/create-job">Angebot Erstellen</a>
          <a class="nav-item nav-link" href="/settings">Einstellungen</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
        <!-- messages -->
        <div class="navbar-nav ml-auto">
          <div class="dropdown nav-item">
            <div class="d-flex flex-inline" style="position: relative">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                ✉
              </button>
              <div style="position: absolute; left: -1vw; top: -1vw">
                <p
                  id="nav_p_msgs_cnt"
                  class="font-weight-bold rounded-circle bg-warning pr-2 pl-2"
                >
                  2
                </p>
              </div>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <div id="nav_div_msgs" class="dropdown-item">messages lol</div>
            </div>
          </div>
        </div>
        {% else %}
        <!-- login pages -->
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up"
            >Registrieren</a
          >
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Flashes -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <!-- socket io -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script
      src="{{url_for('static', filename='scripts/socket.io.js')}}"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script>
      socket = io();
      socket.on("connect", function (socket) {
        console.log("socket connected");
      });
      function create_msg(msg, div, send) {
        let div_outer = document.createElement("div");
        let div_inner = document.createElement("div");
        let p = document.createElement("p");
        p.innerHTML = msg;
        div_inner.appendChild(p);
        div_outer.appendChild(div_inner);
        div_inner.classList.add("border-secondary", "border", "rounded");
        div_outer.classList.add("d-flex");
        p.classList.add("flex-wrap", "m-0", "pr-2", "pl-2");
        if (send) {
          div_inner.style = "background-color: #7186a8;";
        } else {
          div_outer.classList.add("justify-content-end");
          div_inner.style = "background-color: #3665b3;";
        }
        div.appendChild(div_outer);
      }
      let nav_div_msgs = document.getElementById("nav_div_msgs");
      let nav_p_msgs_cnt = document.getElementById("nav_p_msgs_cnt");
      socket.on("receive_msg", function (msg) {
        create_msg(msg, nav_div_msgs, false);
        nav_p_msgs_cnt.innerHTML += 1;
      });
    </script>

    <!-- Subblock -->
    {% block content %} {% endblock %}
    <!-- for development without internet connection
      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  -->
    <script
      src="{{url_for('static', filename='scripts/jquery-3.2.1.slim.min.js')}}"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{url_for('static', filename='scripts/popper.min.js')}}"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
