<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/base.css')}}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- socket io -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="{{url_for('static', filename='scripts/socket.io.js')}}"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script> -->
    <script>
      var socket = io();
      socket.on("connect", function (socket) {
        console.log("socket connected");
      });
    </script>
    <script src="{{url_for('static', filename='scripts/base.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/classes.js')}}"></script>
    {% block content %} {% endblock %} {% if user.is_authenticated %}
    <div class="account_div">
      <img
        class="account_img"
        src="{{url_for('views.base.profile_image')}}"
        alt="Profilbild"
      />
      <div class="account_sub_div">
        <form action="" method="get">
          <input type="submit" value="Einstellungen" class="account_submit" />
        </form>
        <!-- TODO: Reworke-->
        <div
          id="form_profile"
          path="{{url_for('views.profile.profile', id=user.id)}}"
          method="get"
        >
          <input
            type="submit"
            value="Profile"
            class="account_submit"
            onclick="window.location.href = document.getElementById(
            'form_profile'
          ).getAttribute('path')"
          />
        </div>
        <form action="{{url_for('auth.logout')}}" method="get">
          <input type="submit" value="Ausloggen" class="account_submit" />
        </form>
        <form action="{{url_for('views.create_job.create_job')}}" method="get">
          <input
            type="submit"
            value="Angebot erstellen"
            class="account_submit"
          />
        </form>
      </div>
    </div>
    <div class="account_div arrow_back">
      <img
        class="account_img arrow_back_img"
        src="{{url_for('static', filename='images/design/arrow_back.png')}}"
        alt="Profilbild"
      />
    </div>
    {% endif %}
  </body>
</html>
