{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/chat.css')}}"
/>{% endblock %} {% block content %}
<img
  class="background_img"
  src="{{url_for('static', filename='images/design/background.png')}}"
  alt="Hintergrundbild"
/>
<div class="super_div">
  <h1 class="h">{{chat_partner.first_name}} {{chat_partner.last_name}}</h1>
  <div
    class="chat_div"
    msgs_send="{{msgs_send}}"
    msgs_received="{{msgs_receive}}"
    chat_partner="{{chat_partner.id}}"
  ></div>
  <div class="input_div">
    <input type="text" name="msg" class="input" placeholder="Schreiben..." />
    <input type="button" value="Senden" class="submit" />
  </div>
</div>
<script src="{{url_for('static', filename='scripts/chat.js')}}"></script>
{% endblock %}
