{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/create_job.css')}}"
/>{% endblock %} {% block content %}
<img
  class="background_img"
  src="{{url_for('static', filename='images/design/background.png')}}"
  alt="Hintergrundbild"
/>
<div class="super_div">
  <h1 class="h">Angebot Erstellen</h1>
  <form class="job_input_form" method="post">
    <div class="input_div">
      <p class="input input_p">Tätigkeit</p>
      <input type="text" name="name" class="input" placeholder="Name" />
    </div>
    <div class="input_div">
      <p class="input input_p">Dauer</p>
      <input
        type="text"
        name="duration_hour"
        class="input input_middle"
        placeholder="Stunden"
      />
      <input
        type="text"
        name="duration_minute"
        class="input"
        placeholder="Minuten"
      />
    </div>
    <div class="input_div">
      <p class="input input_p">Start Datum</p>
      <input
        type="datetime-local"
        name="time_start"
        class="input"
        placeholder="Start Zeit"
      />
    </div>
    <div class="input_div">
      <p class="input input_p">Bezahlung</p>
      <input
        type="number"
        name="payment_euro"
        class="input"
        placeholder="Euro"
      />
      <input type="hidden" name="payment_cent" value="0" />
    </div>
    <div class="input_div">
      <p class="input input_p">Ort</p>
      <input
        type="text"
        name="post_code"
        class="input input_middle"
        placeholder="Postleitzahl"
        value="{{user.location.post_code}}"
      />
      <input
        type="text"
        name="city"
        class="input"
        value="{{user.location.city.name}}"
      />
    </div>
    <div class="tags_div">
      {% for tag in tags %}
      <input type="button" value="{{tag}}" class="input tag" />
      <input type="hidden" name="" value="{{tag}}" />
      {% endfor %}
    </div>
    <input type="submit" value="Erstellen" class="submit" />
  </form>
</div>
<script src="{{url_for('static', filename='scripts/create_job.js')}}"></script>
{% endblock %}
