{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/job.css')}}"
/>{% endblock %} {% block content %}
<img
  class="background_img"
  src="{{url_for('static', filename='images/design/login_background.png')}}"
  alt="Hintergrund"
/>
<div class="super_div">
  <h1 class="h">{{job.id}}</h1>
  <table class="table">
    <tr>
      <td>Arbeitgeber</td>
      <td>
        <img
          src="{{url_for('views.base.job_image', id=job.id)}}"
          class="input_icon"
          alt="Profilbild"
        />
      </td>
    </tr>
    <tr>
      <td>Dauer</td>
      <td>{{job.duration}}</td>
    </tr>
    <tr>
      <td>Bezahlung</td>
      <td>{{job.payment}}</td>
    </tr>
    <tr>
      <td>Start Zeit</td>
      <td>{{job.time_start}}</td>
    </tr>
  </table>
</div>
<script src="{{url_for('static', filename='scripts/job.js')}}"></script>
{% endblock %}
