{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="d-flex align-itmes-center justify-content-end h-100 container">
  <form method="post" class="w-75">
    <h3 class="text-center">Login</h3>
    <!-- Email -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Enter email"
        />
      </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Passwort</span>
        </div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Passwort"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Einloggen</button>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.href = "{{url_for('auth.sign_up')}}"
    >
      Noch nicht Registriert?
    </button>
  </form>
</div>
{% endblock %}
