{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<img
  src="static\images\web\login_background_top.jpeg"
  class="position-absolute"
  style="height: 40vw; width: 40vw; z-index: -1"
/>
<img
  src="static\images\web\login_background_bottom.jpeg"
  class="position-absolute fixed-bottom fixed-right"
  style="right: 0; left: auto; height: 40vw; width: 40vw; z-index: -1"
/>
<div
  style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  "
>
  <form
    method="post"
    class="border border-primary rounded"
    style="
      border-width: 0.25vw !important;
      background-color: rgb(225, 225, 225);
      padding: 2vw 5vw;
    "
  >
    <h3 class="text-center">Login</h3>
    <!-- Email -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="font-size: larger">Email</span>
        </div>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Enter email"
          style="font-size: larger"
        />
      </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="font-size: larger"
            >Passwort</span
          >
        </div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Passwort"
          style="font-size: larger"
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary mb-3"
      style="font-size: larger"
    >
      Einloggen
    </button>
    <button
      type="button"
      class="btn btn-primary mb-3"
      style="font-size: larger"
      onclick="window.location.href
      ='{{url_for('auth.sign_up')}}'"
    >
      Noch nicht Registriert?
    </button>
  </form>
</div>
{% endblock %}
