{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/login.css')}}"
/>
{% endblock %} {% block content %}
<img
  class="background_img"
  src="{{url_for('static', filename='images/design/background.png')}}"
  alt="Hintergrund"
/>
<div class="super_div">
  <h1 class="h">Login</h1>
  <form method="post" class="form">
    <div class="input_div">
      <img
        class="input_icon"
        src="{{url_for('static', filename='images/design/login_user.png')}}"
        alt="Hintergrund"
      />
      <img
        class="input_line"
        src="{{url_for('static', filename='images/design/line.png')}}"
        alt="Hintergrund"
      />
      <input type="email" name="email" placeholder="Email" class="input" />
    </div>
    <div class="input_div">
      <img
        class="input_icon"
        src="{{url_for('static', filename='images/design/login_lock.png')}}"
        alt="Hintergrund"
      />
      <img
        class="input_line"
        src="{{url_for('static', filename='images/design/line.png')}}"
        alt="Hintergrund"
      />
      <input
        type="password"
        name="password"
        placeholder="Passwort"
        class="input"
      />
    </div>
    <a href="" class="a">Passwort vergessen</a>
    <a href="{{url_for('auth.sign_up')}}" class="a">Noch nicht registriert?</a>
    <input type="submit" value="LOGIN" class="submit" />
  </form>
</div>
<script src="{{url_for('static', filename='scripts/login.js')}}"></script>
{% endblock %}
