{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/sign_up.css')}}"
/>{% endblock %} {% block content %}
<img
  class="background_img"
  src="{{url_for('static', filename='images/design/background.png')}}"
  alt="Hintergrundbild"
/>
<div class="super_div">
  <h1 class="h">Account Erstellen</h1>
  <!-- email name (first_name, last_name) password post_code, city -->
  <form method="post" class="account_input_form">
    <div class="input_div">
      <p class="input input_p">Email</p>
      <input type="email" name="email" class="input" placeholder="Email" />
    </div>
    <div class="input_div">
      <p class="input input_p">Name</p>
      <input
        type="text"
        name="first_name"
        class="input input_middle"
        placeholder="Vorname(n)"
      />
      <input
        type="text"
        name="last_name"
        class="input"
        placeholder="Nachname"
      />
    </div>
    <div class="input_div">
      <p class="input input_p">Passwort</p>
      <input
        type="password"
        name="password"
        class="input input_middle"
        placeholder="Passwort"
      />
      <input
        type="password"
        name="password_confirm"
        class="input"
        placeholder="Passwort bestätigen"
      />
    </div>
    <div class="input_div">
      <p class="input input_p">Ort</p>
      <input
        type="text"
        name="post_code"
        class="input input_middle"
        placeholder="Postleitzahl"
      />
      <input type="text" name="city" class="input" placeholder="Stadt" />
    </div>
    <input type="submit" value="Erstellen" class="submit" />
  </form>
</div>
<script src="{{url_for('static', filename='scripts/sign_up.js')}}"></script>
{% endblock %}
