.body {
  overflow: hidden;
}

.background_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.super_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h {
  text-align: center;
}

.icon {
  width: 3vw;
  height: 3vw;
}

.input_div {
}
