body {
  overflow-x: hidden;
}

.second_bg_img {
  top: 100vh;
  transform: translateX(-50%);
}

.h {
  margin-bottom: 20vh;
  font-size: 10vh;
  color: white;
}

.input_div {
  width: min-content;
  padding: 0;
  padding-left: 1vw;
  margin: 0;
  font-size: 5vh;
}

.submit {
  background-color: black;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 5vh;
  padding: 0 1vw;
}

.job_super_div {
  top: 100vh;
}

.job_div {
  margin: 5vw;
}

.h2 {
  font-size: medium;
}

.td_tags {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
}

.td_tags p {
  margin: 0.25vw;
}
