body {
  overflow: hidden;
}

.h {
  margin-bottom: 20vh;
  font-size: 10vh;
  color: white;
}

.input_div {
  width: min-content;
  padding: 0;
  margin: 0;
  font-size: 5vh;
}

.submit {
  background-color: black;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
