body {
  overflow: hidden;
}

.super_div {
  background: #f2f2f2;
}

.super_div form {
  margin: 7.5vh 5vw;
}

.h {
  margin-top: 5vh;
  font-size: 5vh;
}

.input_div {
  margin: 2vh 0;
}

.submit {
  font-size: 4vw;
  margin-top: 5vh;
  background: #fff200;
  color: #f2f2f2;
}
